# OS
.DS_Store
Thumbs.db

# ========== Laravel ==========
backend/vendor/
backend/node_modules/        # si tu utilises npm/yarn pour frontend dans Laravel
backend/.env
backend/.idea/               # si tu utilises PhpStorm
backend/.vscode/             # si tu utilises VSCode
backend/storage/
backend/bootstrap/cache/
backend/*.log

# ========== Angular ==========
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/*.log
frontend/.env

# Python
ia/__pycache__/
ia/venv/
*.pyc

# PostgreSQL
bd/data/

# Logs
*.log
