<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="max-width: 450px; width: 100%;">

    <h3 class="text-center mb-4 fw-bold">Créer un compte</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Nom -->
      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Votre nom"
          [class.is-invalid]="registerForm.get('name')?.touched && registerForm.get('name')?.invalid"
        />
        <div class="invalid-feedback">
          Nom requis (2 à 100 caractères)
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="exemple@email.com"
          [class.is-invalid]="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
        />
        <div class="invalid-feedback">
          Email invalide
        </div>
      </div>

      <!-- Mot de passe -->
      <div class="mb-3">
        <label class="form-label">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="••••••••"
          (input)="validatePasswords()"
          [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
        />
        <div class="invalid-feedback">
          Mot de passe requis (min 6 caractères)
        </div>
      </div>

      <!-- Confirmation mot de passe -->
      <div class="mb-3">
        <label class="form-label">Confirmer le mot de passe</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="••••••••"
          (input)="validatePasswords()"
          [class.is-invalid]="
            registerForm.get('confirmPassword')?.touched &&
            registerForm.get('confirmPassword')?.errors?.['mismatch']
          "
        />
        <div class="invalid-feedback">
          Les mots de passe ne correspondent pas
        </div>
      </div>

      <!-- Erreur backend -->
      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>
<div class="d-grid gap-2 mt-4">
      
        <button
          type="submit"
          class="btn btn-outline-primary"
          [disabled]="registerForm.invalid"
        >
          S’inscrire
        </button>
        <button class="btn btn-outline-success" (click)="logout()">
             Sortir
      </button>
      </div>
      

    </form>

  </div>
</div>
